* {
	font-family: "Space Grotesk";
}

/*=============== BASE ===============*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	width: 100%;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 19px;
}

p {
	font-size: 15px;
}

@media (max-width: 960px){

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 16px;
	}
	
	p {
		font-size: 13px;
	}
}


@media (max-width: 400px){
h1 {
	font-size: 24px;
}
}